@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.menu-trigger {
    cursor: pointer;
    user-select: none;
}

h2.hanchor {
    user-select: none;
}

.post {
    margin-top: 10px;
}

.post h1.post-title {
    margin-top: 10px;
}
